<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Bienvenue  !</h5>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="{{user.photo}}" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 ">{{user.nom}} {{user.prenom}}</h5>
              <p class="text-muted mb-0 text-truncate">{{user.grade}}</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="mt-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>

          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Nom & Prénom :</th>
                  <td>{{user.nom}} {{user.prenom}}</td>
                </tr>
                <tr>
                  <th scope="row">Téléphone :</th>
                  <td>(216) {{user.telephone}}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th scope="row">Adresse :</th>
                  <td>{{user.adresse}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->

      
      <!-- end card -->
    </div>

    <div class="col-xl-8">

      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
        </div>

      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Modifier Information</h4>
          <form  [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
                <label class="form-label">photo</label>
                <div>
                    <input class="form-control" name="file" type="file" multiple (change)="onFileChange($event)" />
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="nom"
                    [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">nom is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="prenom" class="form-control" id="prenom" placeholder="prenom"
                    [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required">prenom is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="telephone" class="form-control" id="telephone" placeholder="telephone"
                    [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" />
                <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                    <div *ngIf="f.telephone.errors.required">telephone is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="adresse" class="form-control" id="adresse" placeholder="adresse"
                    [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
                <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                    <div *ngIf="f.adresse.errors.required">adresse is required</div>
                </div>
            </div>
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-success">Modifier</button>
            </div>
        </form>
        </div>
      </div>

      
    </div>
  </div>
  <!-- end row -->
</div>
