<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Ajouter publication" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    
  
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Ajouter publication</h4>
            
            <form (ngSubmit)="formSubmit()" [formGroup]="PublicationForm">
              <div class="mb-3">
                <label class="form-label">Titre</label>
                <input type="text" class="form-control" formControlName="titre"
                  [ngClass]="{'is-invalid': formsubmit && form.titre.errors}" placeholder="Type something" />
                <div *ngIf="formsubmit && form.titre.errors" class="invalid-feedback">
                  <span *ngIf="form.titre.errors.required">This value is required.</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Texte</label>
                <div>
                  
                    <textarea title="texte" formControlName="texte" id="" cols="30" rows="10"></textarea>
                  
                  <div *ngIf="formsubmit && form.texte.errors" class="invalid-feedback">
                    <span *ngIf="form.texte.errors.required">This value is required.</span>
                   
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">photo</label>
                <div>
                    <input title="file" class="form-control" name="file" type="file" multiple (change)="onFileChange($event)" />
                </div>
              </div>
              <div class="d-flex flex-wrap gap-2">
                <button type="submit" class="btn btn-primary waves-effect waves-light">
                    Ajouter
                </button>
                <button type="reset" class="btn btn-secondary waves-effect">
                    Annuler
                </button>
            </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>
  