<div class="container-fluid">
    <app-page-title title="Liste des reservations" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des reservations</h4>
           
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-striped table-responsive">
              <thead>
                <tr>
                  <th>user</th>
                  <th>titre</th>
                  <th>prix</th>
                  <th>surface</th>
                  <th>description</th>
                  <th>type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reservation of reservations">                
                  <td>{{ reservation.user.nom }} {{ reservation.user.prenom }}</td>
                  <td>{{ reservation.annonce.titre }}</td>
                  <td>{{ reservation.annonce.prix }} DT</td>
                  <td>{{ reservation.annonce.surface }} m²</td>
                  <td><p class="desc">{{ reservation.annonce.description }}</p></td>
                  <td>{{ reservation.annonce.type }}</td>
                  <td>
                    <a (click)="accepter(reservation.id)" class="btn btn-success"><i class="fa fa-solid fa-check"></i></a>
                    <a (click)="confirm(reservation.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
  
        
      </div>
    </div>
  </div>
  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Modal Heading</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <h5>Overflowing text to show scroll behavior</h5>
      <p>Cras mattis consectetur purus sit amet fermentum.
        Cras justo odio, dapibus ac facilisis in,
        egestas eget quam. Morbi leo risus, porta ac
        consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque
        nisl consectetur et. Vivamus sagittis lacus vel
        augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur.
        Praesent commodo cursus magna, vel scelerisque
        nisl consectetur et. Donec sed odio dui. Donec
        ullamcorper nulla non metus auctor
        fringilla.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </ng-template>
  